<form action="<%=session_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label>
    Enter username:
    <input type="text" name="user[user_name]" value="">
  </label>
  <label>
    Enter password:
    <input type="password" name="user[password]" value="">
  </label>
  <input type="submit" name="" value="Create">
</form>